@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .violet_bg {
    background-image: url("../violet_bg.webp");
    background-repeat: no-repeat;
    background-position: 10% 80%;
    line-height: 2.5rem;
    background-size: cover;
  }

  .green_bg {
    background-image: url("../green_bg.webp");
    background-repeat: no-repeat;
    background-position: 10% 80%;
    line-height: 5rem;
    background-size: cover;
  }

  .section_chip {
    border: 1px solid black;
  }

  .section_chip::after {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: black;
    left: 0;
    top: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  .section_chip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: black;
    right: 0;
    top: 50%;
    border-radius: 50%;
    transform: translate(50%, -50%);
  }
}
